[user]
	name = Zach Tirrell
	email = zbtirrell@gmail.com
[diff]
	noprefix = true
	tool = diffmerge
#[color]                                                                                                                                                                                                                                  
#	ui = true
[alias]
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
[difftool]
	prompt = false
[credential]
	helper = osxkeychain
[gist]
	private = true
[core]
	autocrlf = false
[push]
	default = simple
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"

[instaweb]
  httpd = webrick
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
