[user]
	name = Zach Tirrell
	email = zbtirrell@gmail.com
[diff]
	noprefix = true
	tool = fmdiff
[color]                                                                                                                                                                                                                                  
	ui = true
[alias]
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
[difftool]
	prompt = false
[credential]
	helper = osxkeychain
[gist]
	private = true
[core]
	autocrlf = false
	excludesfile = /Users/zbtirrell/dotfiles/global_gitignore
[push]
	default = simple
