<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Favorites Root</key>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>pue-production-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>-1419624321029267581</integer>
				<key>name</key>
				<string>PUE - production - root</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>pue.tri.be</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>tri.be</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-6946086507786157181</integer>
				<key>name</key>
				<string>Reports - root</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>reports.tri.be</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>reports</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>saasquatch_production</string>
				<key>host</key>
				<string>loxi-prod.cluster-cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>-172372621730754183</integer>
				<key>name</key>
				<string>Loxi - Production</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>botman</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>loxi_production</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-3459829436439380622</integer>
				<key>name</key>
				<string>local</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>calsaas_dev</string>
				<key>host</key>
				<string>all-staging-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>-1193790461561451910</integer>
				<key>name</key>
				<string>Loxi - Dev</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>dev.lumincal.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>calsaas_dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>calsaas_staging</string>
				<key>host</key>
				<string>all-staging-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>-8504732351274233718</integer>
				<key>name</key>
				<string>Loxi - Staging</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>staging.lumincal.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>calsaas_staging</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>ea-production-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>9051123858555773578</integer>
				<key>name</key>
				<string>EA - Production</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>eaprod</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>ea-production</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>ea-staging</string>
				<key>host</key>
				<string>all-staging-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>7394896568709540493</integer>
				<key>name</key>
				<string>EA - Staging</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>eastage</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>ea-staging</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>ea</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>7942046004138722951</integer>
				<key>name</key>
				<string>EA.dev</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>ea.dev</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>ea</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>ecp</string>
				<key>host</key>
				<string>tec-production-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>4697804395186303604</integer>
				<key>name</key>
				<string>TEC - Production</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>theeventscalendar.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>ecp_user</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>ecp</string>
				<key>host</key>
				<string>tec-production-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>1825030211618051966</integer>
				<key>name</key>
				<string>New TEC - root</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>new-tec</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>ecp_staging</string>
				<key>host</key>
				<string>all-staging-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>1464952864574176394</integer>
				<key>name</key>
				<string>TEC - Staging</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>staging.theeventscalendar.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>ecp_user</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-7357808202053409408</integer>
				<key>name</key>
				<string>TEC-local</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>192.168.50.4</string>
				<key>sshKeyLocation</key>
				<string>/private/var/www/tec-vagrant/.vagrant/machines/default/virtualbox/private_key</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshUser</key>
				<string>vagrant</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-2685641170898521746</integer>
				<key>name</key>
				<string>betas</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>betas.theeventscalendar.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>zach</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>tribe</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>gigpress</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-1785460090509195898</integer>
				<key>name</key>
				<string>GigPress</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>dev.gigpress.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>zach</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>tribe</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>1046380371529719159</integer>
				<key>name</key>
				<string>Plugins.tri.be</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>plugins.tri.be</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string>29898</string>
				<key>sshUser</key>
				<string>zach</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>plugins</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>glotpress</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-6107551113986855799</integer>
				<key>name</key>
				<string>translations - root</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>translations.tri.be</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>glotpress</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>9177425003310954614</integer>
				<key>name</key>
				<string>Translations</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>translations.tri.be</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>tribe</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-9115509334592990080</integer>
				<key>name</key>
				<string>WPShindig - root</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>wpshindig.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>wpshindig-prod</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>7577760770885907574</integer>
				<key>name</key>
				<string>WPShindig</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>wpshindig.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>tribe</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>tri.be</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-9121132634056413577</integer>
				<key>name</key>
				<string>reports.tri.be</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>reports.tri.be</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>reports</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>readonly</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>screenshots</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>8544880298502785915</integer>
				<key>name</key>
				<string>Screenshots</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>screenshots.tri.be</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>tribe</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>liveagent</string>
				<key>host</key>
				<string>ec2-52-13-186-54.us-west-2.compute.amazonaws.com</string>
				<key>id</key>
				<integer>6712995049366654601</integer>
				<key>name</key>
				<string>LiveAgent</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>liveagent</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>liveagent</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-1120725135149074819</integer>
				<key>name</key>
				<string>Vagrant</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>127.0.0.1</string>
				<key>sshKeyLocation</key>
				<string>~/.vagrant.d/insecure_private_key</string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string>2222</string>
				<key>sshUser</key>
				<string>vagrant</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>mysql.tribe</string>
				<key>id</key>
				<integer>7364159314911055248</integer>
				<key>name</key>
				<string>mysql.tribe</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>fma</string>
				<key>host</key>
				<string>mysql.firemutualaid.com</string>
				<key>id</key>
				<integer>-6318965557270159491</integer>
				<key>name</key>
				<string>FireMutualAid</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>firemutualaid.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>firemutu</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>firemutu</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>ecp_staging</string>
				<key>host</key>
				<string>all-staging-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>3738320020735692164</integer>
				<key>name</key>
				<string>All Staging - root</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>staging.theeventscalendar.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>devops-trial</string>
				<key>host</key>
				<string>all-staging-db.cgteah42xqn7.us-west-2.rds.amazonaws.com</string>
				<key>id</key>
				<integer>-6314914637521341835</integer>
				<key>name</key>
				<string>All Staging - devops-trial</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>devops-trial</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>devops-trial</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>saasquatch_production</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-5915540118392410490</integer>
				<key>name</key>
				<string>Loxi via port</string>
				<key>port</key>
				<string>3308</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>loxi_production</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>flashback</string>
				<key>host</key>
				<string>staging-db.cdetwmchggsh.ap-northeast-1.rds.amazonaws.com</string>
				<key>id</key>
				<integer>7179054172605341310</integer>
				<key>name</key>
				<string>flashback</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>staging.flashbackj.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>flashback</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>reports.tri.be</string>
				<key>id</key>
				<integer>-753973279892755844</integer>
				<key>name</key>
				<string>Bot =&gt; reports</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>botman</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>readonly</string>
			</dict>
		</array>
		<key>IsExpanded</key>
		<true/>
		<key>Name</key>
		<string>FAVORITES</string>
	</dict>
</dict>
</plist>
